[
  {
    "code": 1507022,
    "name": "Code vs Coach",
    "description": "My primary FPL league"
  },
  {
    "code": 307899,
    "name": "The Dandy Lions",
    "description": "My secondary FPL league"
  },
  {
    "code": 1049424,
    "name": "Cals Pals",
    "description": "My tertiary FPL league"
  }
]
